<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital products</title>
    <link href="/output.css" rel="stylesheet">
    <script src="/script.js" defer></script>
    <script src="https://kit.fontawesome.com/4a627a8e04.js" crossorigin="anonymous"></script>

</head>

<body class="h-screen" onload="CartReady(`<%- items %>`)">

    <div class="BodySpinner">
        <i class="fa-solid fa-spinner hidden text-2xl fa-spin-pulse"></i>
    </div>
    <%- include('partials/header.ejs') %>
        <main class="p-12">
            <h2>Shopping cart</h2>
            <section class="flex justify-between above-sep mt-12 gap-12">
                <div class="flex flex-col gap-12">
                    <% if (items !==undefined) { %>
                        <% items.forEach(item=> { %>
                            <% for (const theme in products) { %>
                                <% products[theme].forEach(product=> { %>
                                    <% if (item.itemId===product.id) { %>
                                        <div class="cart-row w-[50vw] border-gray-300 border-2 p-12  mb-18 grid grid-flow-col grid-cols-4 gap-6"
                                            ProdId="<%- product.id %>">
                                            <img src="/product-images/<%- product.imgName %>"
                                                class="w-full object-cover mr-8 col-span-1" alt="product image">
                                            <div class="text flex flex-col col-span-3">
                                                <div class="flex justify-between w-full mb-4">
                                                    <h3><%- product.name %></h3>
                                                    <span class="text-red-500 font-bold">€<%- product.price / 100
                                                            %></span>
                                                </div>
                                                <div class="flex flex-col">
                                                    <input type="number"
                                                        class="w-8 h-min border-[1px] pl-1 pr-2 border-black QuantityInput"
                                                        value="<%- item.quantity %>">
                                                    <div class="flex mt-8 gap-4 [&>*]:text-2xl"><button
                                                            class="FavoriteItem"><i
                                                                class="fa-solid fa-heart"></i></button>
                                                        <button class=" RemoveFromCart"><i
                                                                class="fa-solid fa-trash-can"></i></button>

                                                    </div>
                                                    <p class="text-sm mt-4 font-extralight text-green-400">Ordered
                                                        before
                                                        23:59,
                                                        delivered
                                                        the
                                                        next day</p>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }); %>
                                                <% } %>
                                                    <% }); %>
                </div>
                <div class="border-[1px] h-max border-gray-300 p-8">
                    <h3 class=" mb-12">Overview</h3>
                    <div class="above-sep">
                        <% items.forEach(item=> { %>
                            <% for (const theme in products) { %>
                                <% products[theme].forEach(product=> { %>
                                    <% if (item.itemId===product.id) { %>
                                        <div class="flex justify-between mb-4 w-72">
                                            <p><%- item.quantity %> x <%- product.name %></p>
                                            <p class="w-32 text-end">€<%- (product.price / 100 *
                                                    item.quantity).toFixed(2) %>
                                                    <% if (item.quantity> 1 ) { %>
                                                        (€<%- product.price / 100 %>)
                                                            <% } %>
                                            </p>
                                        </div>
                                        <% } %>
                                            <% }); %>
                                                <% } %>
                                                    <% }); %>
                                                        <div class="flex justify-between mb-4 above-sep mt-12">
                                                            <p>Total</p>
                                                            <p id="TotalPrice">€<%- totalPrice / 100 %></p>
                                                        </div>
                                                        <button
                                                            class="bg-button-bg-color text-white px-4 py-2 rounded-md"
                                                            onclick="Checkout()">Checkout</button>
                    </div>
                </div>


            </section>
        </main>
        <% } else { %>
            <dialog id="loginModal" class="modal-content">
                <h2 class="text-2xl font-semibold mb-4">Login</h2>
                <form id="loginForm" action="/Login" method="post" class="mb-4">
                    <label class="block mb-2" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                    <label class="block mb-2" for="password">Password:</label>
                    <input type="password" id="password" name="password"
                        class="border border-gray-400 px-2 py-1 rounded w-full">

                    <button type="submit"
                        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</button>
                </form>
                <p class="text-gray-600 text-sm">Don't have an account? <button id="openSignupModal"
                        class="text-black">Sign
                        up here.</button>
                </p>
                <button id="closeLoginModal">Close</button>
            </dialog>


            <dialog id="signupModal" class="modal-content">
                <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>

                <form id="signupForm" action="/SignUp" method="post" class="mb-4">
                    <label class="block mb-2" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                    <label class="block mb-2" for="password">Password:</label>
                    <input type="password" id="password" name="password"
                        class="border border-gray-400 px-2 py-1 rounded w-full">
                    <button type="submit"
                        class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Signup</button>
                </form>

                <p class="text-gray-600 text-sm">Already have an account?
                    <button id="openLoginModal" class="text-black">Login
                        here.</button>
                </p>
                <button id="closeSignupModal">Close</button>
            </dialog>

            <% } %>
                <%- include('partials/footer.ejs')%>

</body>

</html>