<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital products</title>
    <link href="/output.css" rel="stylesheet">
    <script src="/script.js" defer></script>
    <script src="https://kit.fontawesome.com/4a627a8e04.js" crossorigin="anonymous"></script>

</head>

<body class="h-screen" onload="ready()">

    <%- include('partials/header.ejs')%>
        Our products
        <div class="shop-items">

            <% for (const theme in products) { %>
                <% products[theme].forEach(item=> { %>
                    <div class="shop-item m-4" data-item-id="<%= item.id %>">
                        <img class="shop-item-image h-80 w-60 object-cover" src="product-images/<%= item.imgName %>">
                        <!-- <div class="h-32"> -->
                        <span class="shop-item-title w-60 h-12 mt-2 text-center block m-auto">
                            <%= item.name %>
                        </span>
                        <div class="shop-item-details">
                            <span class="shop-item-price">€<%= item.price /100 %></span>
                            <button class="bg-green-500 text-white p-2 rounded-xl add-to-cart-button" type="button">ADD
                                TO CART</button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <% }); %>
                        <% } %>
        </div>
        <dialog id="loginModal" class="modal-content">
            <h2 class="text-2xl font-semibold mb-4">Login</h2>
            <!-- Add your login form here -->
            <!-- For simplicity, I'm providing basic input fields -->
            <form id="loginForm" action="/Login" method="post" class="mb-4">
                <label class="block mb-2" for="email">Email:</label>
                <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                <label class="block mb-2" for="password">Password:</label>
                <input type="password" id="password" name="password"
                    class="border border-gray-400 px-2 py-1 rounded w-full">

                <!-- Add more input fields like password, etc. -->
                <button type="submit"
                    class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</button>
            </form>
            <p class="text-gray-600 text-sm">Don't have an account? <button id="openSignupModal" class="text-black">Sign
                    up here.</button>
            </p>
            <button id="closeLoginModal">Close</button>
        </dialog>


        <dialog id="signupModal" class="modal-content">
            <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>
            <!-- Add your sign-up form here -->
            <!-- For simplicity, I'm providing basic input fields -->

            <form id="signupForm" action="/SignUp" method="post" class="mb-4">
                <label class="block mb-2" for="email">Email:</label>
                <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                <label class="block mb-2" for="password">Password:</label>
                <input type="password" id="password" name="password"
                    class="border border-gray-400 px-2 py-1 rounded w-full">
                <!-- Add more input fields like password, etc. -->
                <button type="submit"
                    class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Signup</button>
            </form>

            <p class="text-gray-600 text-sm">Already have an account? <button id="openLoginModal"
                    class="text-black">Login here.</button>
            </p>
            <button id="closeSignupModal">Close</button>
        </dialog>
</body>

</html>