<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital products</title>
    <link href="/output.css" rel="stylesheet">
    <script src="/script.js" defer></script>
    <script src="https://kit.fontawesome.com/4a627a8e04.js" crossorigin="anonymous"></script>

</head>

<body class="h-screen" onload="ready()">

    <%- include('partials/header.ejs')%>

        <main class="mt-12 flex">
            <div class="side-menu ml-6 w-32">
                <div class="mb-12">
                    <h3 class="side-menu-sep mb-6 ">Categories</h3>
                    <!-- give the h5 with the name of the current theme variable semi-bold class -->

                    <h5 class="<%= theme === '' ? 'font-semibold' : '' %>"><a href="/products/All">All</a>
                    </h5>
                    <h5 class="<%= theme === 'Home & Living' ? 'font-semibold' : '' %>"><a
                            href="/products/Home%20%26%20Living">Home &
                            Living</a></h5>
                    <h5 class="<%= theme === 'Personal Care' ? 'font-semibold' : '' %>"><a
                            href="/products/Personal%20Care">Personal care</a>
                    </h5>
                    <h5 class="<%= theme === 'Kitchen Items' ? 'font-semibold' : '' %>"><a
                            href="/products/Kitchen%20Items">Kitchen items</a>
                    </h5>

                </div>

                <div>
                    <h3 class="side-menu-sep mb-6">Price (€)</h3>
                    <div class="flex ml-2">
                        <input type="number" class="w-8 text-center border-[1px] border-gray-400 rounded-md"
                            id="Price-lowest" value="0">
                        <p class="mx-2">-</p>
                        <input type="number" class="w-8 text-center border-[1px] border-gray-400 rounded-md"
                            id="Price-highest" value="<%- (highestPrice / 100).toFixed() %>">
                    </div>


                </div>
            </div>
            <section class="flex flex-col ml-12 pr-8">
                <div class="top-menu flex justify-between mb-16">
                    <div class="flex">
                        <h3 class="font-bold ourCollection">Our collection</h3>
                        <h5 class="font-thin ml-6"><%- theme %></h5>
                    </div>
                    <div class="flex">
                        <p>Sorting</p>
                        <select class="border-2 border-black rounded-md ml-2" name="sort" id="sort">
                            <option value="nameASC">Name A-Z</option>
                            <option value="nameDESC">Name Z-A</option>
                            <option value="priceASC">Price ascending</option>
                            <option value="priceDESC">Price descending</option>
                        </select>
                    </div>
                </div>



                <div class="shop-items flex flex-col gap-12">
                    <% if (theme==='' ) { for (const theme in products) { %>
                        <% products[theme].forEach(item=> { %>
                            <div class="shop-item flex justify-end" data-item-Id="<%- item.id %>">
                                <img src="/product-images/<%- item.imgName %>" class="mr-auto h-64" alt="glass straws">
                                <div class="w-[40vw] ml-4">
                                    <h5 class="font-bold mb-4"><%- item.name %></h5>
                                    <p class="text-sm"><%- item.description %></p>
                                </div>
                                <div class="flex flex-col text-right">
                                    <p class="text-red-600 font-bold">€<%- item.price / 100 %></p>
                                    <span class="text-green-600 text-sm">ordered before 23:59, delivered the next day
                                    </span>
                                    <div class="flex mt-12 justify-end gap-8">
                                        <i class="fa-regular fa-heart py-4 text-xl" style="color: #005eff;"></i>
                                        <button
                                            class="add-to-cart-button bg-button-bg-color  rounded-md px-5 py-4 flex gap-4 relative"
                                            type="button">
                                            <i class="fa-solid fa-plus text-xl"></i>

                                            <i class="fa-solid fa-cart-shopping text-xl "></i>

                                            <div
                                                class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
                                                <i class="fa-solid fa-spinner text-2xl hidden fa-spin-pulse"></i>
                                                <i class="fa-solid hidden text-2xl absolute top-0 left-0 fa-check"></i>
                                            </div>

                                        </button>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
                                    <% } else { %>
                                        <% products.forEach(item=> { %>
                                            <div class="shop-item flex justify-end" data-item-Id="<%- item.id %>">
                                                <img src="/product-images/<%- item.imgName %>" class="mr-auto h-64"
                                                    alt="glass straws">
                                                <div class="w-[40vw] ml-4">
                                                    <h5 class="font-bold mb-4"><%- item.name %></h5>
                                                    <p class="text-sm"><%- item.description %></p>
                                                </div>
                                                <div class="flex flex-col text-right">
                                                    <p class="text-red-600 font-bold">€<%- item.price / 100 %></p>
                                                    <span class="text-green-600 text-sm">ordered before 23:59, delivered
                                                        the next day
                                                    </span>
                                                    <div class="flex mt-12 justify-end gap-8">
                                                        <i class="fa-regular fa-heart py-4 text-xl"
                                                            style="color: #005eff;"></i>
                                                        <button
                                                            class="add-to-cart-button bg-button-bg-color  rounded-md px-5 py-4 flex gap-4 relative"
                                                            type="button">
                                                            <i class="fa-solid fa-plus text-xl"></i>

                                                            <i class="fa-solid fa-cart-shopping text-xl "></i>

                                                            <div
                                                                class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
                                                                <i
                                                                    class="fa-solid fa-spinner text-2xl hidden fa-spin-pulse"></i>
                                                                <i
                                                                    class="fa-solid hidden text-2xl absolute top-0 left-0 fa-check"></i>
                                                            </div>

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <% } %>
                </div>

            </section>

            </div>

            <dialog id="loginModal" class="modal-content">
                <h2 class="text-2xl font-semibold mb-4">Login</h2>
                <!-- Add your login form here -->
                <!-- For simplicity, I'm providing basic input fields -->
                <form id="loginForm" action="/Login" method="post" class="mb-4">
                    <label class="block mb-2" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                    <label class="block mb-2" for="password">Password:</label>
                    <input type="password" id="password" name="password"
                        class="border border-gray-400 px-2 py-1 rounded w-full">

                    <!-- Add more input fields like password, etc. -->
                    <button type="submit"
                        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</button>
                </form>
                <p class="text-gray-600 text-sm">Don't have an account? <button id="openSignupModal"
                        class="text-black">Sign
                        up here.</button>
                </p>
                <button id="closeLoginModal">Close</button>
            </dialog>


            <dialog id="signupModal" class="modal-content">
                <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>
                <!-- Add your sign-up form here -->
                <!-- For simplicity, I'm providing basic input fields -->

                <form id="signupForm" action="/SignUp" method="post" class="mb-4">
                    <label class="block mb-2" for="email">Email:</label>
                    <input type="email" id="email" name="email" class="border border-gray-400 px-2 py-1 rounded w-full">
                    <label class="block mb-2" for="password">Password:</label>
                    <input type="password" id="password" name="password"
                        class="border border-gray-400 px-2 py-1 rounded w-full">
                    <!-- Add more input fields like password, etc. -->
                    <button type="submit"
                        class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Signup</button>
                </form>

                <p class="text-gray-600 text-sm">Already have an account? <button id="openLoginModal"
                        class="text-black">Login here.</button>
                </p>
                <button id="closeSignupModal">Close</button>
            </dialog>
        </main>
        <%- include('partials/footer.ejs')%>
</body>

</html>